<div class="menu-trai-admin">
    <h3>Danh Mục</h3>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><b>Tài Khoản</b></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="list-group">
                    <a href="/Admin/DSTaiKhoan" class="list-group-item">Danh Sách Tài Khoản</a>
                    <a href="/Admin/ThemTaiKhoan" class="list-group-item">Thêm Mới Tài Khoản</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><b>Loại Phòng</b></a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="list-group">
                    <a href="/Admin/DSLoaiPhong" class="list-group-item">Danh Sách Loại Phòng</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><b>Phòng</b></a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="list-group">
                    <a href="/Admin/DSPhong" class="list-group-item">Danh Sách Phòng</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><b>Dịch Vụ</b></a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="list-group">
                    <a href="/Admin/DSDichVu" class="list-group-item">Danh Sách Dịch Vụ</a>
                    <a href="/Admin/ThemDichVu" class="list-group-item">Thêm Mới Dịch Vụ</a>
                </div>
            </div>
        </div>
    </div>
</div>